# Created by .ignore support plugin (hsz.mobi)
.idea/
warehouse/migrations/
list_of_goods/migrations/
operations/migrations/
localization/migrations/
**/migrations/**
/db.sqlite3
/frontend/e2e
/frontend/node_modules
