{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} List of goods {% endblock %}

{% block content %}

<h1>List of items</h1>
<table class="table table-hover">
    <tr>
        <th width="30%">Name</th>
        <th>Quantity</th>
        <th width="20%">Remove</th>
    </tr>
        {% for item in list_of_goods %}
            {% with item_form=item.item %}
        <tr>
            <td>{{ item_form.name }}</td>
            <td>

                <form class="form-inline" action="{% url "list_of_goods_add" item_form.id %}" method="post">
                    {{ item.update_quantity_form.update }}
                    {% render_field item.update_quantity_form.quantity class='form-control' %}

                    <input class="btn btn-warning" type="submit" value="Change quantity">
                    {% csrf_token %}
                </form>
            </td>
            <td><input class="btn btn-danger" type="button" value="Remove" onclick="location.href='{% url 'list_of_goods_remove' item_form.id %}'" ></td>

        </tr>
            {% endwith %}
    {% endfor %}
</table>
    <p class="text-right">
    <a href="{% url "search_semi_finished_item" %}" class="btn btn-primary" value="">Add another Items
    </a>
    </p>
    <input type="submit" class="btn btn-primary"
           value="Outbound delivery" onclick="location.href='{% url 'operation' 'OD' %}'">
    <input type="submit" class="btn btn-primary"
           value="External receipt" onclick="location.href='{% url 'operation' 'ER' %}'">
    <input type="submit" class="btn btn-primary"
           value="Internal receipt" onclick="location.href='{% url 'operation' 'IR' %}'">
    <input type="submit" class="btn btn-primary"
           value="Internal send" onclick="location.href='{% url 'operation' 'IS' %}'">

{% endblock %}