{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
Semi-finished Item detail
{% endblock %}

{% block content %}
    <h1> Item Details</h1>
    <div class="row">
        <div class="form-group col-sm-4 col-mg-6">
            <h3>
                Name: {{ item.name }} <br>
            Quantity: {{ item.quantity }} <br>
            Producer: {{ item.producer }} <br>
            Price: {{ item.price }}</h3>
            <input class="btn btn-success" type="button" value="Edit" onclick="location.href='{% url 'semi_finished_item_edit' item.slug %}'">
        </div>

        <div class="form-group col-sm-4 col-mg-6">
        <h3>Add item to List of goods</h3>
        <form action="{% url 'list_of_goods_add' item.id %}" method="post">
            {{ add_item_form.quantity.label_tag }}
            {% render_field add_item_form.quantity class="form-control" %}
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Add to List">
        </form>
        </div>

        <div class="form-group col-sm-4 col-mg-6">
        <h3>Add item localization</h3>
        <form method="post" action="{% url 'add_localization_item' item.id %}">
            {{ add_localization_form.label.label_tag }}
            {% render_field add_localization_form.label class="form-control" %}
            {{ add_localization_form.place.label_tag }}
            {% render_field add_localization_form.place class="form-control" %}
            {% csrf_token %}
            <input class="btn btn-success" type="submit" value="Add Localization">
        </form>
        </div>
    </div>
    <div class="row">

    <div class="form-group col-sm-6">
    <h3>Operations:</h3>
    {% if operations %}
        <table class="table table-hover">
        <tr>
            <th>Date</th>
            <th>Operation number</th>
            <th>Quantity</th>
            <th>Operation detail</th>
        </tr>
        {% for operation in operations %}
            <tr>
                <td>{{ operation.operation.created }}</td>
                <td>{{ operation.operation.operation_number }}</td>
                <td>{{ operation.quantity }}</td>
                <td><input class="btn btn-success" type="button" value="Detail" onclick="location.href='{% url 'operation_detail' operation.operation.operation_number %}'"></td>
            </tr>

        {% endfor %}
    </table>
    {% endif %}
    </div>
    <div class="form-group col-sm-6">
        <h3>Locations</h3>
        {% if localization_list %}
            <table class="table table-hover">
                <tr>
                    <th>Localization</th>
                    <th>Date of placement</th>
                    <th>Remove</th>
                </tr>
            {% for localization in localization_list %}
                <tr>
                    <td>{{ localization.localization }}</td>
                    <td>{{ localization.date_of_placement }}</td>
                    <td>
                        <input class="btn btn-danger" value="Remove localization" type="button" onclick="location.href='{% url 'remove_localization' localization.id %}'">
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    </div>

</div>
{%  endblock %}