{% extends "base.html" %}

{% block title %} Logowanie {% endblock %}

{% block content %}
<h1>logowanie</h1>
    {% if form.errors %}
    <p>Błędne dane logowania</p>
    {% else %}
    <p>Podaj dane do logowania:</p>
    {% endif %}

    <div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Zaloguj"></p>
    </form>
    </div>
{% endblock %}